{% extends "layout.html" %}
{% block content %}
<h2 class="text-center p-5 text-white text-3xl bg-green-500">Resultados</h2>

    <div class="p-4 md:p-8 h-full">

        <form action="{{ url_for('general.buscar') }}">
            <div class="flex justify-center">
                <div class="text-gray-300 relative flex items-center mb-7 w-3/6">
                    <i class="absolute left-5 fas fa-search"></i>
                    <input type="text" 
                    name={% if 'producto' in request.args %}
                        "producto"
                        
                    {% else %}
                        {% if 'cliente' in request.args %}
                            "cliente"
                    {% else %}
                    {% endif %}
                    {% endif %}
                    class="ml-3 border border-gray-200 rounded-full w-full px-7 py-1 text-lg text-gray-600 focus:outline-none" 
                    placeholder={% if 'producto' in request.args %}
                        "Buscar Producto..."
                    {% else %}
                        {% if 'cliente' in request.args %}
                            'Buscar Cliente...'
                        {% else %}
                        {% endif %}
                    {% endif %}>
                </div>
            </div>
        </form>

        <p class="text-center text-xl mb-3">Mostrando resultados para "{{ busqueda }}"</p>

        {% if productos %}
            <div class="grid lg:grid-cols-3 sm:grid-cols-2 md:grid-cols-2 gap-4">
            {% for producto in productos %}
                    <div class="block p-4 border-2 shadow-xl transition-all duration-200 ease-in-out rounded-lg border-green-500">
                        <img src="/static/uploads/{{ producto.imagen }}" alt="Imagen Producto" class="p-3 w-52 h-52 block m-auto">
                        <ul class="text-center">
                            <li><span class="text-green-800">Nombre: </span>{{ producto.nombre }}</li>
                            <li><span class="text-green-800">Código: </span>{{ producto.codigo }}</li>
                            <li><span class="text-green-800">Stock: </span>{{ producto.stock }}</li>
                            <li><span class="text-green-800">Precio:</span> ${{ producto.precio }}</li>
                        </ul>
                        <div class="flex flex-col md:flex-row justify-around w-full mt-3">
                            <a href="{{ url_for('general.editar_producto', id=producto.id) }}"><p class="w-full mb-2 md:mb-0 text-center p-2 text-white bg-yellow-500 hover:bg-yellow-600 transition-all duration-100 rounded-lg mr-3"><i class="fas fa-pen"></i> Editar</p></a>
                            <a href="{{ url_for('general.eliminar_producto', id=producto.id) }}"><p class="w-full mb-2 md:mb-0 text-center p-2 text-white bg-red-500 hover:bg-red-600 transition-all duration-100 rounded-lg mr-3"><i class="fas fa-trash"></i> Eliminar</p></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}

        <!-- Busqueda de clientes -->
        {% if clientes %}
        {% for cliente in clientes %}
            <div class="mt-3 p-4 w-full border border-green-600 rounded-lg shadow-lg">
                <div class="flex flex-col md:grid md:grid-cols-4">
                    <div>
                        <p class="text-green-500 font-bold">Nombre</p>
                        <p>{{ cliente.nombre }}</p>
                    </div>
                    <div>
                        <p class="text-green-500 font-bold">E-mail</p>
                        <p class="">{{ cliente.email }}</p>
                    </div>
                    <div>
                        <p class="text-green-500 font-bold">Dirección</p>
                        <p>{{ cliente.direccion }}</p>
                    </div>
                    <div>
                        <p class="text-green-500 font-bold">Teléfono</p>
                        <p>{{ cliente.telefono }}</p>
                    </div>
                </div>
                <div class="mt-4 text-center md:text-left">
                    <a href="{{ url_for('clientes.ver_pedidos', id=cliente.id) }}" class="block md:inline mb-2 p-2 bg-green-500 hover:bg-green-600 transition-all ease-in-out duration-100 rounded-lg p-2 text-white"><i class="fas fa-clipboard-list"></i> Ver Pedidos</a>
                    <a href="{{ url_for('clientes.editar_cliente', id=cliente.id) }}" class="block md:inline mb-2 p-2 bg-yellow-500 hover:bg-yellow-600 transition-all ease-in-out duration-100 rounded-lg text-white"><i class="fas fa-pen"></i> Editar</a>
                    <a href="{{ url_for('clientes.eliminar_cliente', id=cliente.id) }}" class="block md:inline p-2 bg-red-500 hover:bg-red-600 transition-all ease-in-out duration-100 rounded-lg text-white"><i class="fas fa-trash"></i> Eliminar</a>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p class="text-center text-xl">No se hallaron resultados.</p>
        {% endif %}
        {% endif %}


</div>
{% endblock content %}