{% extends "layout.html" %}
{% block content %}
<h2 class="text-center p-5 text-white text-3xl bg-green-500">Productos</h2>
<div class="overflow-y-auto p-8 grid grid-cols-3 gap-4 h-full">
    <!-- Producto -->
    <div class="block p-4 border-2 shadow-xl transition-all duration-200 ease-in-out rounded-lg border-green-500">
        <img src="{{ url_for('static', filename='img/taza.png') }}" alt="Imagen Producto" class="w-44 block m-auto">
        <ul class="text-center">
            <li><span class="text-green-800">Nombre: </span>Taza</li>
            <li><span class="text-green-800">Código: </span>329345</li>
            <li><span class="text-green-800">Stock: </span>15</li>
            <li><span class="text-green-800">Precio:</span> $30</li>
        </ul>
    </div>
    <!-- Producto -->
    <div class="block p-4 border-2 shadow-xl transition-all duration-200 ease-in-out rounded-lg border-green-500">
        <img src="{{ url_for('static', filename='img/taza.png') }}" alt="Imagen Producto" class="w-44 block m-auto">
        <ul class="text-center">
            <li><span class="text-green-800">Nombre: </span>Taza</li>
            <li><span class="text-green-800">Código: </span>329345</li>
            <li><span class="text-green-800">Stock: </span>15</li>
            <li><span class="text-green-800">Precio:</span> $30</li>
        </ul>
    </div>
    <!-- Producto -->
    <div class="block p-4 border-2 shadow-xl transition-all duration-200 ease-in-out rounded-lg border-green-500">
        <img src="{{ url_for('static', filename='img/taza.png') }}" alt="Imagen Producto" class="w-44 block m-auto">
        <ul class="text-center">
            <li><span class="text-green-800">Nombre: </span>Taza</li>
            <li><span class="text-green-800">Código: </span>329345</li>
            <li><span class="text-green-800">Stock: </span>15</li>
            <li><span class="text-green-800">Precio:</span> $30</li>
        </ul>
    </div>
    <!-- Producto -->
    <div class="blcok p-4 border-2 shadow-xl transition-all duration-200 ease-in-out rounded-lg border-green-500">
        <img src="{{ url_for('static', filename='img/taza.png') }}" alt="Imagen Producto" class="w-44 block m-auto">
        <ul class="text-center">
            <li><span class="text-green-800">Nombre: </span>Taza</li>
            <li><span class="text-green-800">Código: </span>329345</li>
            <li><span class="text-green-800">Stock: </span>15</li>
            <li><span class="text-green-800">Precio:</span> $30</li>
        </ul>
    </div>
    <!-- Producto -->
    <div class="block p-4 border-2 shadow-xl transition-all duration-200 ease-in-out rounded-lg border-green-500">
        <img src="{{ url_for('static', filename='img/taza.png') }}" alt="Imagen Producto" class="w-44 block m-auto">
        <ul class="text-center">
            <li><span class="text-green-800">Nombre: </span>Taza</li>
            <li><span class="text-green-800">Código: </span>329345</li>
            <li><span class="text-green-800">Stock: </span>15</li>
            <li><span class="text-green-800">Precio:</span> $30</li>
        </ul>
    </div>
    <!-- Producto -->
    <div class="block p-4 border-2 shadow-xl transition-all duration-200 ease-in-out rounded-lg border-green-500">
        <img src="{{ url_for('static', filename='img/taza.png') }}" alt="Imagen Producto" class="w-44 block m-auto">
        <ul class="text-center">
            <li><span class="text-green-800">Nombre: </span>Taza</li>
            <li><span class="text-green-800">Código: </span>329345</li>
            <li><span class="text-green-800">Stock: </span>15</li>
            <li><span class="text-green-800">Precio:</span> $30</li>
        </ul>
    </div>
    <!-- Producto -->
    <div class="block p-4 border-2 shadow-xl transition-all duration-200 ease-in-out rounded-lg border-green-500">
        <img src="{{ url_for('static', filename='img/taza.png') }}" alt="Imagen Producto" class="w-44 block m-auto">
        <ul class="text-center">
            <li><span class="text-green-800">Nombre: </span>Taza</li>
            <li><span class="text-green-800">Código: </span>329345</li>
            <li><span class="text-green-800">Stock: </span>15</li>
            <li><span class="text-green-800">Precio:</span> $30</li>
        </ul>
    </div>
</div>
{% endblock content %}