<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <title>MyStore Admin - Iniciar Sesión</title>
</head>
<body class="bg-green-700">
    <div class="flex h-screen">
        <div class="h-auto w-4/12 m-auto bg-green-600 border-green-500 shadow-2xl rounded-lg">
          <h2 class="text-white text-center text-4xl p-5">MyStore <span class="text-yellow-500 text-bold">Admin</span></h2>
          <h3 class="text-white text-center text-2xl">Iniciar Sesión</h3>
          <div class="pt-5 pb-5">
              <form action="/crear-cuenta" method="POST">

                <div class="m-auto mb-4 w-10/12">

                    <label for="email" class="block text-white text-lg">E-mail</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker focus:outline-none focus:ring" name="email" type="text" placeholder="Tu e-mail">
                    
                    <label for="email" class="block text-white text-lg mt-3">Contraseña</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker focus:outline-none focus:ring" name="password" type="password" placeholder="Tu contraseña">
                                        
                    <div class="flex mt-5 justify-end">
                        <button class="text-white appearence-none p-3 m-auto font-bold shadow  bg-yellow-500 rounded-lg">Enviar</button>
                    </div>
                                        
                    <div class="flex mt-3 justify-start text-white">
                        <ul>
                            <li><a href="{{ url_for('usuarios.crear_cuenta') }}">Crear Cuenta</a></li>
                            <li><a href="#">¿Olvidaste tu contraseña?</a></li>
                        </ul>
                    </div>
                </div>

              </form>
          </div>
        </div>
      </div>
</body>
</html>