<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <title>MyStore Admin - Inicio</title>
</head>


<body>

    <header class="pl-5 pr-5 flex justify-between w-full h-20 bg-green-700 flex justify-center items-center">
        <h1 class="text-4xl"><span class="text-white">MyStore</span> <span
                class="text-yellow-500 text-bold">Admin</span></h1>
        <a href="{{ url_for('usuarios.cerrar_sesion') }}" class="text-white hover:text-green-100 transition-all ease-in-out duration-100 text-lg">Cerrar Sesión</a>
        <!-- <i class="fas fa-chevron-circle-down cursor-pointer text-3xl text-white"></i> -->
    </header>

    <div class="flex flex-col md:flex-row">
        <aside class="md:w-3/12 md:min-h-screen w-full bg-green-700 relative top-0 bottom-0">
            <ul class="list-none">
                <li>
                    <a href="{{ url_for('general.index') }}"
                        class="inline-block bg-green-800 hover:bg-green-500 cursor-pointer transition-all ease-in-out duration-100 w-full p-3 text-2xl text-white text-center">
                        <i class="fas fa-home"></i> Inicio</a>
                </li>
                <li>
                    <a href="{{ url_for('general.productos') }}"
                        class="inline-block bg-green-800 hover:bg-green-500 transition-all ease-in-out duration-100 w-full p-3 text-2xl text-white text-center"><i
                            class="fas fa-shopping-cart text-2xl"></i> Productos</a>
                </li>
                {% if "/productos" in request.path %}
                    <li>
                        <a href="{{ url_for('general.agregar_producto') }}" class="inline-block bg-green-500 hover:bg-green-600 transition-all ease-in-out duration-100 w-full p-3 text-lg text-white text-center"><i class="fas fa-plus-circle"></i> Agregar Producto</a>
                    </li>
                {% else %}
                {% endif %}
                <li>
                    <a href="{{ url_for('clientes.clientes') }}"
                        class="inline-block bg-green-800 hover:bg-green-500 cursor-pointer transition-all ease-in-out duration-100 w-full p-3 text-2xl text-white text-center"><i
                            class="fas fa-users text-2xl"></i> Clientes</a>
                {% if "/clientes" in request.path %}
                    <li>
                        <a href="{{ url_for('clientes.agregar_cliente') }}" class="inline-block bg-green-500 hover:bg-green-600 transition-all ease-in-out duration-100 w-full p-3 text-lg text-white text-center"><i class="fas fa-plus-circle"></i> Agregar Cliente</a>
                    </li>
                {% else %}
                {% endif %}
                </li>
                <li>
                    <a href="{{ url_for('pedidos.ver_pedidos') }}"
                        class="inline-block bg-green-800 hover:bg-green-500 cursor-pointer transition-all ease-in-out duration-100 w-full p-3 text-2xl text-white text-center"><i
                            class="fas fa-receipt text-2xl"></i> Pedidos</a>
                </li>
                {% if "/pedidos" in request.path %}
                    <li>
                        <a href="{{ url_for('pedidos.agregar_pedido') }}" class="inline-block bg-green-500 hover:bg-green-600 transition-all ease-in-out duration-100 w-full p-3 text-lg text-white text-center"><i class="fas fa-plus-circle"></i> Agregar Pedido</a>
                    </li>
                {% else %}
                {% endif %}
                <!-- <li>
                    <a href="#"
                        class="inline-block bg-green-800 hover:bg-green-500 cursor-pointer transition-all ease-in-out duration-100 w-full p-3 text-2xl text-white text-center"><i
                            class="fas fa-user-circle"></i> Mi Cuenta</a>
                </li> -->
            </ul>
        </aside>

        <main class="w-full h-full">

        {% block content %}
        {% endblock content %}

        </main>
    </div>
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e323a62359.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="{{ url_for('static',filename='src/main.js') }}"></script>
</body>

</html>