{% extends "layout.html" %}
{% block content %}
<h2 class="text-center p-5 text-white text-3xl bg-green-500">Productos</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="m-auto mt-3 w-11/12 md:w-8/12 lg:w-6/12 xl:w-4/12">
        <ul class='text-center'>
            {% for categoria, message in messages %}
                {% if categoria == 'error' %}
                <li class="p-3 mb-2 rounded-lg border-2 border-red-500 text-red-700 bg-red-200">{{ message }}</li>
                {% endif %}
                {% if categoria == 'success' %}
                <li class="p-3 mb-2 rounded-lg border-2 border-green-500 text-green-700 bg-green-200">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endwith %}

    {% if productos|length > 0 %}
    <div class="p-8 h-full">
        <div class="grid lg:grid-cols-3 sm:grid-cols-2 md:grid-cols-2 gap-4">
        {% for producto in productos %}
                <div class="block p-4 border-2 shadow-xl transition-all duration-200 ease-in-out rounded-lg border-green-500">
                    <img src="/static/uploads/{{ producto.imagen }}" alt="Imagen Producto" class="p-3 w-52 h-52 block m-auto">
                    <ul class="text-center">
                        <li><span class="text-green-800">Nombre: </span>{{ producto.nombre }}</li>
                        <li><span class="text-green-800">Código: </span>{{ producto.codigo }}</li>
                        <li><span class="text-green-800">Stock: </span>{{ producto.stock }}</li>
                        <li><span class="text-green-800">Precio:</span> ${{ producto.precio }}</li>
                    </ul>
                    <div class="flex justify-center w-full mt-3">
                        <a href="{{ url_for('general.editar_producto', id=producto.id) }}"><i class="fas fa-pen text-center p-3 text-white bg-yellow-500 rounded-lg mr-3"></i></a>
                        <a href="{{ url_for('general.eliminar_producto', id=producto.id) }}"><i class="fas fa-trash text-center p-3 text-white bg-red-500 rounded-lg mr-3"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="p-8 h-screen">
        <p class="text-center text-xl">Aún no has añadido productos.</p>
    </div>
    {% endif %}
</div>
{% endblock content %}